<!DOCTYPE html>
<html>
<%- include('./templates/head.ejs') %>
<%- include('./templates/nav.ejs') %>
<body>

<!-- <h1 style="background-color: red; margin-bottom: 2%;">Blog</h1> -->

<div class="blog-contents">
    <h2> <%= blog.title %> </h2>
    <p> <%= blog.body %> </p>
</div>



</body>
<%- include('./templates/footer.ejs') %>
</html>