<!DOCTYPE html>
<html>
<%- include('./templates/head.ejs') %>
<%- include('./templates/nav.ejs') %>
<body>

<h1 class='start'>All Blogs</h1>

<div class="blog-contents">
    <% if (blogs.length>0) { %>
        <% blogs.forEach((blog) => {  %>
            <a href="/blogs/<%= blog._id %>">
                <h3><%= blog.title %></h3>
                <p><%= blog.snippet %></p>
            </a>
        <% }) %>
    <% } else { %>
        <p>There are no blogs to display.</p>
    <% } %>
</div>



</body>
<%- include('./templates/footer.ejs') %>
</html>